# Core Application & Data Handling
streamlit==1.47.0
pandas==2.2.2
numpy==1.26.4

# Data Sources & Visualization
yfinance==0.2.40
plotly==6.1.0

# Financial Analysis & Optimization
pandas-ta==0.3.14b0
PyPortfolioOpt==1.5.5

# Natural Language Processing
nltk==3.8.1
textblob==0.18.0.post0
